@import "../../globals.scss";

.type-label {
	display: flex;
	font-size: $global-font-size;
	color: $light-gray-text;
	font-family: $global-font;
	margin-right: 3px;
	align-items: center;

	&.label-top {
		flex-direction: column;
	}
	&.label-bottom {
		flex-direction: column-reverse;
	}
	&.label-left {
		flex-direction: row;
	}
	&.label-right {
		flex-direction: row-reverse;
	}
}
