@import "../../globals.scss";

.type-field {
	align-items: center;
	margin: 5px;
	gap: 2px;

	&.label-top {
		display: grid;
		grid-template-rows: max-content max-content;
	}

	&.label-left {
		display: grid;
		grid-template-columns: max-content 1fr;
	}
}
