$global-font: 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana,
	sans-serif;
$global-font-size: 13px;
$field-border: 1px solid #d0d0d0;
$field-height: 30px;
$light-gray-text: #404040;
$panel-background-color: #f6f6f6;
